.user-container {
  height: 100%;
  width: 100%;
  background-color: #222;
}

.data-grid {
  color: white;
  border: none;
}

.data-grid .MuiDataGrid-colCellTitle {
  background-color: #444;
}

.data-grid .MuiDataGrid-row:nth-child(odd) {
  background-color: #555;
}

.data-grid .MuiDataGrid-row:nth-child(even) {
  background-color: #666;
}
